<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
	
	<!-- Reorder Menu Accounting -->
		<menuitem id="account.menu_finance_receivables" name="Customers" parent="account.menu_finance" 
			sequence="10" groups="general_account.group_receivable_accountant"/>
			
        <menuitem id="account.menu_finance_payables" name="Suppliers" parent="account.menu_finance" 
        	sequence="20" groups="general_account.group_payable_accountant"/>
        	
        <menuitem id="account.menu_finance_bank_and_cash" name="Bank and Cash" parent="account.menu_finance" 
        	sequence="50" groups="general_base.group_nobody"/>
        	
    	<menuitem id="account.menu_finance_entries" name="Journal Entries" parent="account.menu_finance" 
    		sequence="110" groups="account.group_account_user,account.group_account_manager"/>
    		
        <menuitem id="account.menu_finance_periodical_processing" name="Periodic Processing" parent="account.menu_finance" 
        	sequence="120" groups="account.group_account_user,account.group_account_manager"/>
        	
    	<menuitem id="account.menu_finance_charts" name="Charts" parent="account.menu_finance" groups="account.group_account_user" 
    		sequence="130"/>
    		
    	<menuitem id="account.menu_finance_reports" name="Reporting" parent="account.menu_finance" 
    		sequence="140" groups="account.group_account_user,account.group_account_manager"/>
    		
		<menuitem id="account.menu_finance_configuration" name="Configuration" parent="account.menu_finance" 
			sequence="150" groups="account.group_account_manager"/>
	
	
	<!-- Master Accounting -->
	      <menuitem name="Master Account" 
            id="menu_master_account" 
            parent="general_base.menu_master_data"
            sequence="30"/>
            
	<!-- Add new menu for Bank in Accounting menu -->
	<!-- Move Bank Menus from Sales to Accounting -->
    	<menuitem id="menu_bank_configuration" name="Banks" parent="account.menu_finance_configuration" 
	        	sequence="1"/>
        		
        		<menuitem action="base.action_res_bank_form" 
        			id="base.menu_action_res_bank_form" 
        			parent="menu_bank_configuration" sequence="11"/>
    			
    			<menuitem action="base.action_res_partner_bank_account_form"
		            id="base.menu_action_res_partner_bank_form"
		            parent="menu_bank_configuration"
		            sequence="9"/>
	            
	            <menuitem action="base.action_res_partner_bank_type_form"
		            id="base.menu_action_res_partner_bank_typeform"
		            parent="menu_bank_configuration"
		            sequence="15"/>
        
    </data>
</openerp>
